!!!
%html
  %head
  %meta{:charset => "utf-8"}
  %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
  %title= content_for?(:title) ? yield(:title) : "My Rails Template"
  %meta{:content => "", :name => "Template for the most common Rails app I do"}

  = stylesheet_link_tag "application", :media => "all"

  = javascript_include_tag "application", "pages/#{controller_name}"

  = csrf_meta_tags
  = yield(:head)
  %body
    = render partial: 'shared/header'

    .blue-top
      .container
    #main
      .container-box= yield

    = render partial: 'shared/footer'
    = render partial: 'shared/bottom_includes'
    = yield(:modals) if content_for?(:modals)